<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EasyRulerPlaans.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C677C4D7216F33550071ECF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C677C4EF216F33570071ECF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C677C4FA216F33570071ECF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
